// @import '~@fortawesome/fontawesome-free/css/all.min.css';
// @import 'globals';

body {
  background-color: darkseagreen;
}

.app {
  height: 100%;
  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-
    >* {
      width: 100vw;
      height: calc(100vh - 70px);
    }
  }
}
.nav {
  
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: white;
    font-weight: bolder;
    color: inherit;
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 2;
}

// Project page styling 

.projectcard {
  display: flex;
  flex-wrap: wrap;

  background-color: wheat;
  align-items: center;
  margin-top: 50px;
  padding: 8px;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  display: inline-block;
  color:dodgerblue;

//   .cardbody{
// padding: 5px;
// margin-left: 10px ;d
// width: 18rem;
// height: 18rem;
// background-color: gray;
//   }

  .protitle{
    color: black;
    font-weight: bold;
    font-size: inherit;
    
  }
  .cardbody{
padding: 5px;
height: 200px;
  }

}

.project-container {
  background-color: rgb(33, 37, 24);
}
